@using Microsoft.AspNetCore.Components.Web
@namespace miguelestradam.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="~/favicon.webp" rel="icon">
    <link href="~/favicon.webp" rel="apple-touch-icon">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="miguelestradam.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <header id="header">
        <section class="row col-12 m-2">
            <nav class="navbar navbar-light bg-light">
                <div class="row">
                    <div class="col-2">
                        <a class="navbar-brand" href="">
                            <img src="~/favicon.webp" width="30" height="30" class="d-inline-block align-top" alt="">
                        </a>
                    </div>
                    <div class="col-10">
                        <h3 align="center" style="font-size:18px; text-align: center;">Miguel Estrada | Personal Website</h3>
                    </div>
                </div>
            </nav>
        </section>
    </header>
    @RenderBody()
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <footer id="footer">
        <section class="row col-12 m-1">
            <div id="footer-content" class="row">
                <div class="md-6">
                    <div class="d-flex p-2">
                        <img src="~/favicon.webp" width="30" height="30" class="d-inline-block align-top" alt="">
                    </div>
                </div>
                <div class="md-6">
                    <div class="row">
                        <div class="col-12">
                            <h4 name="name" class="align-text-top m-1 p-2">
                                Miguel Estrada | Personal Site
                            </h4>
                        </div>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item">
                            <address>
                                <label name="name" class="">
                                    <strong>Address</strong><br />
                                </label>
                                <p class="text-muted">
                                    1355 Market St, Suite 900<br />
                                    San Francisco, CA 94103<br />
                                </p>
                                <button name="phone" class="">
                                    <abbr title="phone"></abbr>(123) 456-7890
                                </button>
                            </address>
                        </div>
                        <div class="list-group-item">
                            <address>
                                <label name="email" class="btn btn-info">
                                    <strong>Email</strong>
                                </label>
                                <br />
                                <a href="mailto:miguelestradam36@gmail.com">miguelestradam36@gmail.com</a>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            <div id="social" class="row">
                <div class="col-3">
                    <a href="" id="github"><i class="bx bx-github"></i></a>
                </div>
                <div class="col-3">
                    <a href="" id="linkedin"><i class="bx bx-linkedin"></i></a>
                </div>
                <div class="col-3">
                    <a href="" id="instagram"><i class="bx bx-instagram"></i></a>
                </div>
                <div class="col-3">
                    <a href="" id="facebook"><i class="bx bx-facebook"></i></a>
                </div>
            </div>
            <div id="credits" class="row m-2">
                <div class="col-12 m-1 text-center">
                    <p class="text-align">© Developed by Miguel Estrada</p>
                </div>
            </div>
        </section>
    </footer>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
