html, body {
    max-width: 100% !important;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
    body .page {
        max-width: 100% !important;
    }

#header {
    background-color: #E5E4E2 !important;
    color: #000000;
}
#footer {
    background-color: #000000;
    color: #FFFFFF;
    border-top: 2px solid #E5E4E2;
}
    #footer #footer-content {
        margin-bottom: 20px;
        margin-top: 10px;
    }
        #footer #footer-content img {
            padding: 5%;
        }
    #footer section {
        text-align: center;
        align-self: center;
    }
        #footer section div {
            text-align: center;
            align-self: center;
        }
#social {
    background: inherit;
    color: #E5E4E2 !important;
    border: 2px solid inherit;
    border-radius: 20px 20px 0px 0px;
    margin-top: 10px;
}
    #social iconify-icon {
        background-color: #000000 !important;
        color: #E5E4E2 !important;
    }
#credits {
    background-color: #E5E4E2 !important;
    color: #000000;
    border: 2px solid inherit;
    border-radius: 20px 20px 0px 0px;
    margin-top: 10px;
}
    #credits div {
        margin-top: 10px;
        padding: 10px;
        text-align:center !important;
    }
        #credits div img, #credits div div {
            text-align: center;
        }
        #credits div p {
            padding: 5px;
        }
            #credits div div button {
                text-align:center;
            }