section div div img {
    padding:5px;
}
#content{

}
    #content h1 {

    }
    #content h2 {

    }

#content-2 {

}
    #content-2 h1 {

    }
    #content-2 h2 {

    }
#computing {

}
#content-3 {

}
    #content-3 iconify-icon{
        width:40px;
        height:40px;
    }