<section class="p-2" id="azure">
    <div class="row p-1">
        <h2>Some examples about azure projects ®</h2>
    </div>
    <div class="row p-2">
        <div class="col-12">
            <div class="row">
                <div class="col-md-6">
                    <img src="img/platforms/Microsoft-Azure.jpg" class="img-fluid" alt="" />
                </div>
                <div class="col-md-6">
                    <p class="text=align-center col-lg-12" align="center">
                        Web applications hosted on Azure and built with help of Visual Studio 2022
                    </p>
                    <h4>Example projects:</h4>
                    <ul>
                        <li>
                            ASP.NET 6 Blazor Framework <mark>Personal Site</mark>&nbsp;
                            <a href="https://miguel-estrada.azurewebsites.net/" target="_blank" class="btn btn-info">Go to project</a>
                        </li>
                        <li>
                            ASP.NET 6 MVC Framework <mark>Pokedex</mark>&nbsp;
                            <a href="https://pokedex-me.azurewebsites.net/" target="_blank" class="btn btn-info">Go to project</a>
                        </li>
                        <li>
                            ASP.NET 6 MVC Framework <mark>Andean Dev</mark>&nbsp;
                            <a href="https://andean-dev.azurewebsites.net/" target="_blank" class="btn btn-info">Go to project</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>