<h2>Some examples about azure projects ®</h2>
<div class="row p-1">
    <div class="col-12">
        <div class="">
            <img src="img/" alt="" />
        </div>
        <p>
            Virgin Galactic is a registered trademark of
            <a href="https://www.virgingalactic.com/">Galactic Enterprises, LLC</a>.
        </p>
    </div>
</div>