<section class="p-2" id="azure">
    <div class="row p-1">
        <h2>Some examples about joomla projects ®</h2>
    </div>
    <div class="row p-2">
        <div class="col-12">
            <div class="row">
                <div class="col-md-6">
                    <img src="img/platforms/Joomla-logo.png" class="img-fluid" alt="Joomla logo" />
                </div>
                <div class="col-md-6">
                    <p class="text=align-center col-lg-12" align="center">
                        Joomla web applications hosted on <mark>Apache</mark> and <mark>PHP</mark> servers, easy to manage <mark>self-service</mark> platform
                    </p>
                    <h4>Example projects:</h4>
                    <ul>
                        <li>
                            Support to: <mark>Olcoma</mark> (2021) version &nbsp;
                            <a href="https://olcoma.ac.cr/" target="_blank" class="btn btn-info">Go to project</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>