@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="pb-2 p-1" id="main">
        <section class="row col-12 m-1">
            <div class="top-row px-4">
                <span class="text-primary"><a target="_blank" href="https://github.com/miguelestradam36">Check Github</a></span> &nbsp; for more projects &nbsp; &nbsp; &nbsp;<span class="oi oi-globe" aria-hidden="true"></span>
            </div>

            <article class="content px-4">
                <div class="row">
                    <div align="center" class="col-md-12">
                        @Body
                    </div>
                </div>
            </article>
        </section>
    </main>
</div>
@code {
    public bool paginate = false;
}