<section class="col-lg-12 p-1">
    <div class="row">
        <div class="row">
            <h2>Go online ®</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <p>
                    Personalized design: @Personalized
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    For more information send us a message through: <a class="nav-link" href="about">
                        <span class="oi oi-document" aria-hidden="true"></span> About
                    </a>
                </p>
            </div>
        </div>
        <div class="row">
            @if (Name == "Azure")
            {
                <div class="col-md-12">
                    <div class="row p-1">
                        <h3 class="text=align-center col-lg-12" align="center">
                            
                        </h3>
                    </div>
                    <div align="center" class="row p-2">
                        <h4 class="text-muted"></h4>
                        <hr/>
                        <p class="text-primary"></p>
                    </div>
                </div>
            }
            @if (Name == "Joomla")
            {
                <div class="col-md-12">
                    <p class="text=align-center col-lg-12" align="center">
                        Web applications hosted on Azure and built with help of Visual Studio 2022
                    </p>
                    <h4>Example projects:</h4>
                    <ul>
                        <li>
                            ASP.NET 6 Blazor Framework <mark>Personal Site</mark>&nbsp;
                            <a href="https://miguel-estrada.azurewebsites.net/" target="_blank" class="btn btn-info">Go to project</a>
                        </li>
                        <li>
                            ASP.NET 6 MVC Framework <mark>Pokedex</mark>&nbsp;
                            <a href="https://pokedex-me.azurewebsites.net/" target="_blank" class="btn btn-info">Go to project</a>
                        </li>
                        <li>
                            ASP.NET 6 MVC Framework <mark>Andean Dev</mark>&nbsp;
                            <a href="https://andean-dev.azurewebsites.net/" target="_blank" class="btn btn-info">Go to project</a>
                        </li>
                    </ul>
                </div>
            }
            @if (Name == "Wordpress")
            {
                <div class="col-md-12">
                    <p class="text=align-center col-lg-12" align="center">
                        Web applications hosted on Azure and built with help of Visual Studio 2022
                    </p>
                    <h4>Example projects:</h4>
                    <ul>
                        <li>
                            ASP.NET 6 Blazor Framework <mark>Personal Site</mark>&nbsp;
                            <a href="https://miguel-estrada.azurewebsites.net/" target="_blank" class="btn btn-info">Go to project</a>
                        </li>
                        <li>
                            ASP.NET 6 MVC Framework <mark>Pokedex</mark>&nbsp;
                            <a href="https://pokedex-me.azurewebsites.net/" target="_blank" class="btn btn-info">Go to project</a>
                        </li>
                        <li>
                            ASP.NET 6 MVC Framework <mark>Andean Dev</mark>&nbsp;
                            <a href="https://andean-dev.azurewebsites.net/" target="_blank" class="btn btn-info">Go to project</a>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
</section>
@code {
    [Parameter]
    public bool? Personalized { get; set; }
    [Parameter]
    public string? Name { get; set; }
}